SITE_NAME=erp-203-0-113-10.sslip.io
PUBLIC_HOSTNAME=erp-203-0-113-10.sslip.io
HTTP_PORT=127.0.0.1:8080
GREENRAY_TAG=oci-arm64
ERPNEXT_VERSION=v16.32.0
HRMS_VERSION=v16.16.0
CRM_VERSION=v1.81.2
DB_PASSWORD=CHANGE_ME
ADMIN_PASSWORD=CHANGE_ME
ACME_EMAIL=ops@example.com
GUNICORN_THREADS=4
GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=120
